body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    background-color: #031321; 
    font-family: sans-serif;
    text-shadow: 
    .1vw 0vw .25vw #2196f3, .2vw 0vw .25vw #2196f3, .4vw 0vw .25vw #2196f3, 
    
    .1vw 0vw   0vw #0b7ad1, .2vw 0vw   0vw #0b7ad1, .4vw 0vw   0vw #0b7ad1,
    .1vw 0vw  .1vw #0b7ad1, .2vw 0vw  .1vw #0b7ad1, .4vw 0vw  .1vw #0b7ad1,
    .1vw 0vw   2vw #0b7ad1, .2vw 0vw   2vw #0b7ad1, .4vw 0vw   2vw #0b7ad1, 
    
    .1vw 0vw   1vw #0962a7, .2vw 0vw   1vw #0962a7, .4vw 0vw   5vw #0962a7, 
    .1vw 0vw   5vw #0962a7, .2vw 0vw  20vw #0962a7, .4vw 0vw  10vw #0962a7,
    .1vw 0vw  10vw #0962a7, .2vw 0vw  30vw #0962a7, .4vw 0vw  10vw #0962a7;

    
}


#hauptfeld{
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px;
    cursor: pointer;
    position: relative;
}

.feld{
    color: rgb(0, 0, 255);
    
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rechtegrenze{
    border-right: 0.5em solid rgb(0, 0, 255);
}

.unteregrenze{
    border-bottom: 0.5em solid rgb(0, 0, 255);
}

.rotelinie{
    position: absolute;
    background-color: red;
}

.rotelinie_zeile_1{
    width: 100%;
    height: 6px;
    top: 15%;
    
}

.rotelinie_zeile_2{
    width: 100%;
    height: 6px;
    top: 48%;
    
}

.rotelinie_zeile_3{
    width: 100%;
    height: 6px;
    top: 83%;
    
}

.rotelinie_spalt_1{
    height : 100%;
    width: 6px;
    left: 15%;
    
}

.rotelinie_spalt_2{
    height : 100%;
    width: 6px;
    left: 46%;
    
}

.rotelinie_spalt_3{
    height : 100%;
    width: 6px;
    left: 83%;
    
}
 
.rotelinie_diagonal_1{
    width: 90%;
    height: 6px;
    top: 50%;
    left: 5%;
    transform: skewY(45deg);
}

.rotelinie_diagonal_2{
    width: 90%;
    height: 6px;
    top: 50%;
    left: 2%;
    transform: skewY(-45deg);
}

#spielmeldungsfeld{
    text-align: center;
    border: #031321 8px solid; 
    
 
}
    
h2{
    color: rgb(0, 255, 110);
    font-size: 3em;
}

button{
    background-color: blue;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    margin-top: 10%
}

.versteckt{
    display: block;
}
.x_rueberfahren:hover::after{
    content: "X";
    opacity: 0.15;}

.o_rueberfahren:hover::after{
    content: "O";
    opacity: 0.15;
}